<html>
	<body>
		<p>Welcome to <i>Stage</i>!</p>
		<p>You may now access your account information from theAudience.</p>
		<p>Please go to <a href="https://stage.theaudience.com/login">https://stage.theaudience.com/login</a> and use the following information to log in:</p>
        <p>&nbsp;</p>
		<p>Username: <strong><?php echo $this->data->email; ?></strong></p>
		<p>Password: <strong><?php echo $this->data->password; ?></strong></p>
        <p>&nbsp;</p>
		<p>Once you have logged in, you may change your password by clicking on the wheel icon in the upper right corner of the screen and chose "My Settings."</p>
		<p>Please contact <a href="mailto:support@theaudience.com">support@theaudience.com</a> if you encounter any issues.</p>
		<p> - theAudience</p>
	</body>
</html>